<li>
  <%= link_to movie do %>
    <%= image_tag movie.vertical.mobile.url,:height => 80,:width => 80 %>
    <h3> <%= movie.name.camelcase %> </h3>
    <h3> <%= formatted_score(movie) %> </h3>
    <p> <%= truncate(movie.cast) %> </p>
  <% end %>
</li>
