<div class="grid_10 alpha poster">
  <%= image_tag(movie.horizontal.thumb.url.to_s)  %>
</div>

<div class="grid_14 omega">
  <div class="score-board grid_14">
    <span class="percentage"><%= movie.computed_score %></span>
    <span class="percentage-sign">%</span>
    <span class="voters"><%= movie.tweets.assesed.count %> tweets</span>
    <div class="mbm">
      <fb:like href="<%= movie_url(movie) %>" layout="standard" show-faces="true" action="like" colorscheme="light" />
    </div>
  </div>
</div>

<div class="details grid_14">
  <p><span>Released on </span> <%= movie.released_on.strftime("%d %B, %Y") %></p>
  <p><span>Starring </span> <%= movie.cast %></p>
  <p><span>Director </span> <%= movie.director %></p>
  <p><span>Producer </span> <%= movie.producer %></p>
</div>

<div class="grid_14">
  <ul id="quotes">
    <%= render :partial => 'quote', :collection => movie.tweets.assesed %> 
  </ul>
</div>

<div class="grid_14">
  <% link_to 'Trailer', movie, :class => 'button' %>
  <% link_to 'Songs', movie, :class => 'button' %>
</div>
<div class="clear"></div>
