<%= render 'form' %>

<div class="clear"></div>

<div class="container_24">
  <div class="grid_12">
    <%= form_for([@movie, @movie.keywords.new]) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <div class="grid_12">
    <%= render @movie.keywords %>
  </div>
  <div class="grid_12" id="search-area">
    <%= button_to 'Search Twitter', sync_movie_path(@movie), :method => :put, :remote => true %>
  </div>
</div>
