<% content_for :facebook_meta do %>
  <meta property="og:title" content="<%= @movie.name %>"/>
  <meta property="og:url" content="<%= movie_path(@movie) %>"/>
  <meta property="og:image" content="<%= @movie.vertical.thumb.url %>"/>
<% end %>

<% content_for :title do %>
  <%= "#{@movie.name} Review" %> 
<% end %>

<% content_for :description do %>
  <%= "Aggregates reviews of #{@movie.name}." %> 
<% end %>

<% content_for :keywords do %>
  <%= "#{@movie.name} movie reviews, #{@movie.name} tweets, #{@movie.name} talk, #{@movie.name} positive talk, #{@movie.name} negative talk" %> 
<% end %>

<% content_for :subheader do %>
  <%= @movie.name %>
<% end %>

<% content_for :color do %>
  red
<% end %>


<div id="poster-area">
  <div class="container_24">
    <%= render @movie %>
  </div>
</div>

<div class="sub-header-wrapper <%= content_for :color %>">
  <div class="content header">
    <%= image_tag "used/twitter_logo_right.png" %>
    <h1> </h1>
  </div>
</div>

<div id="twitter-area">
  <div class="container_24">
    <%= render :partial => "/tweets/tweets", :locals => { :tweets => @tweets } %>
  </div>
</div>
