<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <title><%= content_for :title %></title>
    <%= content_for :facebookmeta %>
    <meta name="google-site-verification" content="RXjWilEYk0eC_6ulYSV_AaFVSQe8nHI6Zw4_W9dVR5I" />
    <%= javascript_include_tag    "vendor/jquery.min", 
      "vendor/quote.rotator", 
      "vendor/scroll", 
      "vendor/rails", 
      "application" 
    %>
    <%= stylesheet_link_tag "compiled/grid", "compiled/text" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Play:regular,bold&subset=greek,latin' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=greek,latin' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="show">
    <%= render :partial => "/shared/header" %>
    <%= yield %>
    <%= render :partial => "/shared/google" %>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId  : "162180660488445",
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });
    </script>
  </body>
</html>
