<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta name="google-site-verification" content="RXjWilEYk0eC_6ulYSV_AaFVSQe8nHI6Zw4_W9dVR5I" />
    <%= javascript_include_tag    "vendor/jquery.min", 
      "vendor/quote.rotator", 
      "vendor/scroll", 
      "vendor/rails", 
      "application" 
    %>
    <%= stylesheet_link_tag "compiled/grid", "compiled/text" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Play:regular,bold&subset=greek,latin' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=greek,latin' %>
    <%= content_for :facebookmeta %>
  </head>
  <body class="show">
    <%= render :partial => "/shared/header" %>
    <%= yield %>
    <%= render :partial => "/shared/google" %>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="http://static.ak.fbcdn.net/connect/en_US/core.debug.js"></script>
    <script>
      FB.init({
        appId  : "162180660488445",
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });
    </script>
  </body>
</html>
